python/
llama-2-7b-chat.Q4_K_M.gguf
node_modules/
mistral-7b-v0.1.Q4_K_M.gguf
mistral-7b-instruct-v0.2.Q4_K_M.gguf
src/mystuff/
src/.env
dist
.DS_Store
mpnet/
baai/
whisper
espeak-ng-data
llm/piper/piper_phonemize.dll
llm/piper/piper.exe
llm/piper/onnxruntime_providers_shared.dll
llm/piper/onnxruntime.dll
llm/piper/libtashkeel_model.ort
llm/piper/espeak-ng.dll
llm/piper/en_US-kathleen-low.onnx
llm/piper/en_US-hfc_female-medium.onnx
llm/piper/en_US-amy-low.onnx
llm/piper/en_en_US_kathleen_low_en_US-kathleen-low.onnx.json
